version: "3.3"
services:
  postgres:
    container_name: cos40005_postgres
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: ecps
      PGDATA: /data/postgres
    volumes:
      - postgres:/data/postgres
    ports:
      - "5432:5432" 
    networks:
      - postgres
    restart: unless-stopped

  redis:
    container_name: cos40005_redis
    image: redis:latest
    ports:
      - "6379:6379"
    networks:
      - postgres
    restart: unless-stopped

  pgadmin:
    container_name: cos40005_pgadmin
    image: dpage/pgadmin4:latest
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: "False" 
    volumes:
      - ./pgadmin/var:/var/lib/pgadmin
      - ./pgadmin:/pgadmin
    ports:
      - "5050:80" 
    networks:
      - postgres
    restart: unless-stopped
    depends_on:
      - postgres

networks:
  postgres:
    driver: bridge

volumes:
  postgres:
  pgadmin:
