{% extends 'base.html' %} {% block title %}Password reset{% endblock %} {% block
content %}
<div class="login-box">
    <h2>Reset your password</h2>
    <p>
        Enter your email address and we'll send you a link to reset your
        password.
    </p>
    <form method="post">
        {% csrf_token %} {{ form.email }}
        <div class="form-footer">
            <button type="submit" class="btn btn-primary">
                Send reset email
            </button>
        </div>
    </form>
</div>
{% endblock %}
